{% extends "new_base.html" %}
{% block content %}

<style>
 body{
        background: whitesmoke;
    }

    button{
        background-color:	#D3D3D3;
}
    button:hover {
        background-color:slategrey;
}
    #login-button{
            background-color: green;
            color: white;
    }
    #register-button{
            background-color: black;
            color: white;
    }

</style>




    <div class="row">
    <br><br>
    <div class="col s12 m6 l4 white offset-l4" style="border: 2px solid black">

    <h1 align="center" style="color: #99ddff">Reset Password</h1>

    <form method="post" action="/student/forgot-password/{{ user.username }}">
        {% csrf_token %}
        <div class="input-field col s12">
                    <input id="contact_message" type="text" class="validate" name="contact_message">
            <label for="contact_message">Security Code</label></div>
        <div class="input-field col s12">
                    <input id="password1" type="password" class="validate" name="password1">
            <label for="password1">New Password</label></div>
        <div class="input-field col s12">
                    <input id="password2" type="password" class="validate" name="password2">
            <label for="password2">Confirm Password</label></div>
        <button class="btn waves-effect waves-light red right" type="submit" name="action">Reset
                        <i class="material-icons right">add</i>
                    </button>
        </form>
        <br><br>
</div>
    </div>

{% endblock %}
