{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pre Session</title>
</head>
<body>
<div id="page-title"><li class="waves-effect"><a href="#"><i class="material-icons">chevron_left</i></a></li>   June 25th, 2018   <li class="waves-effect"><a href="#"><i class="material-icons">chevron_right</i></a></li></div>
<br>
<div class="row">
    <form>
      <div class="row">
        <div class="input-field col s12 m6 l6">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Celebrations</label>
        </div>
          <div class="input-field col s12 m6 l6">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Missing Work</label>
        </div>
      </div>
        <br>
        <div class="row">
        <div class="input-field col s12 m6 l6">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Questions About Session</label>
        </div>
            <div class="input-field col s12 m6 l6">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Upcoming Due Dates</label>
        </div>
      </div>
        <br>
        <div class="row">
        <div class="input-field col s12 m6 l6">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Coach's Follow Up</label>
        </div>
            <div class="input-field col s12 m6 l6">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Student's Commitments</label>
        </div>
      </div>
        <br>
        <div class="row">
        <div class="input-field col s12 m12 l12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Notes</label>
        </div>
        </div>
    </form>
  </div>

</body>
</html>
{% endblock %}