{% extends 'new_base.html' %}

{% block content %}

    <style>
    #small-button {
        margin-top: 2%;
        margin-right: 2%;
        width: 45%;
        height: 5%;
        font-size: 100%;
        padding: 0;
        padding-left: 1%;
        padding-right: 3%;
    }
    #long-button {
        margin-top: 2%;
    }
    #edit-button {
        margin-top: 2%;
        margin-right: 2%;
        width: 45%;
        height: 5%;
        font-size: 100%;
        padding: 0;
        padding-left: 1%;
        padding-right: 3%;
    }
    #regular-button {
        margin-top: 2%;
        margin-right: 2%;
        width: 45%;
        height: 5%;
        font-size: 100%;
        padding: 0;
        padding-left: 1%;
        padding-right: 3%;
    }
    #save-button {
        font-size: 150%;
        width: 30%;
        visibility: hidden;
    }
    </style>

    {% if active_session %}
        <div class="row">
        {% if coach %}
        <div class="col s4" align="center">
        <a class="btn waves-effect waves-light black modal-trigger" id="long-button" href="#new-session-modal">Start a New Session<i class="material-icons right">add</i></a>
        </div>
            {% else %}
             <div class="col s4" align="center">&nbsp;&nbsp;
        </div>
        {% endif %}

            <div class="col s4">
    <div align="center"><h5>{{ session.date }} Session</h5></div>
            </div>
         <div class="col s4" align="center">
             <a class="btn waves-effect waves-light black modal-trigger yellow darken-2 btn-small"  id="regular-button" href="/student/{{ student.username }}/all_sessions">View All Sessions<i class="material-icons right">bubble_chart</i></a>
             <button class="btn waves-effect waves-light blue lighten-1" id="edit-button" onclick="toggleEditMode()" name="action">Edit Session
                        <i class="material-icons right">edit</i>
        </button>
         </div>
        </div>

        <br>
<div class="row">
    <form action="/student/{{ student.username }}/save_session/{{ session.id }}" method="post" onsubmit="setFormSubmitting()" id="sessionform">
        {% csrf_token %}
        <div class="input-field col s12 m6 l6">
          <textarea id="celebrations" class="materialize-textarea" name="celebrations">{{ session_info.0 }}</textarea>
          <label for="celebrations">Successes</label>
        </div>
          <div class="input-field col s12 m6 l6">
          <textarea id="missing_work" class="materialize-textarea" name="missing_work">{{ session_info.1 }}</textarea>
          <label for="missing_work">Missing Work</label>
        </div>

        <div class="input-field col s12 m6 l6">
          <textarea id="questions" class="materialize-textarea" name="questions">{{ session_info.2 }}</textarea>
          <label for="questions">Topics to Discuss</label>
         </div>
            <div class="input-field col s12 m6 l6">
          <textarea id="due_dates" class="materialize-textarea" name="due_dates">{{ session_info.3 }}</textarea>
          <label for="due_dates">Upcoming Due Dates</label>
        </div>



        <div class="input-field col s12 m6 l6">
          <textarea id="follow_up" class="materialize-textarea" name="follow_up">{{ session_info.4 }}</textarea>
          <label for="follow_up">Coach's Next Steps</label>
        </div>
            <div class="input-field col s12 m6 l6">
          <textarea id="commitments" class="materialize-textarea" name="commitments">{{ session_info.5 }}</textarea>
          <label for="commitments">Student's Next Steps</label>
        </div>



        <div class="input-field col s12 m12 l12">
          <textarea id="notes" class="materialize-textarea" name="notes">{{ session_info.6 }}</textarea>
          <label for="notes">Additional Notes</label>
        </div>
        {% if coach %}
        <div align="center">
            <button class="btn waves-effect waves-light green lighten-1" id="save-button" type="submit" name="action">SAVE
                        <i class="material-icons right">save</i>
            </button>
       </div>
        {% endif %}
    </form>
  </div>
        {% else %}
        <br><br><br>
        <div align="center"><div class="flow-text grey-text">There are currently no sessions for {{ student.name }}.</div></div>
        {% if coach %}
        <div align="center">
            <a class="btn waves-effect waves-light black modal-trigger " href="#new-session-modal">Add Session<i class="material-icons right">add</i></a>
        </div>
            {% endif %}
    {% endif %}




    <div id="new-session-modal" class="modal">
        <div class="modal-content">
            <h4 class="center-align">Create a New Session</h4>
                <form method="post" action="/student/{{ student.username }}/session/{{ session_number }}">
                    {% csrf_token %}
                     <div class="col s4 offset-s4">
                        <b>Date of Session:</b><input class="input-field" type="date" name="new_session_date" required>
                     </div>
                    <a href="#" class="modal-close waves-effect waves-green btn-flat black white-text">Close</a>
                    <button class="btn waves-effect waves-light red right" type="submit" name="action">Create
                        <i class="material-icons right">add</i>
                    </button>

                </form>

        </div>


    </div>

    <div id="change-session-modal" class="modal">
        <div class="modal-content">
            <h5 class="center-align">View or Edit a Previous Session</h5>
            {% for option in sessions %}
                <div align="center">
            <a class="btn waves-effect waves-light white black-text modal-trigger" id="long-button" href="/student/{{ student.username }}/session/{{ forloop.counter }}">Session {{ forloop.counter }} - {{ option.date }}</a>
            </div>
            {% endfor %}
        <br>
        </div>


    </div>

    <script>

        var editable = false;
        function toggleEditMode() {
            editable = !editable;
            if (editable) {
                document.getElementById("save-button").style.visibility = 'visible';
                document.getElementById("edit-button").style.visibility = 'hidden';
            } else {
                //document.getElementById("save-button").style.visibility = 'hidden';
                //document.getElementById("edit-button").style.visibility = 'visible';
            }
        }
        {% comment %}
        var celeb = '{{ session.celebrations }}';
        celeb = celeb.replace(/&#39;/g, '\'');
        $('#celebrations').val(celeb);
        var missing = '{{ session.missing_work }}';
        missing = missing.replace(/&#39;/g, '\'');
        $('#missing_work').val(missing);
        var questions = '{{ session.questions_about_session }}';
        questions = questions.replace(/&#39;/g, '\'');
        $('#questions').val(questions);
        var due = '{{ session.upcoming_due_dates }}';
        due = due.replace(/&#39;/g, '\'');
        $('#due_dates').val(due);
        var follow = '{{ session.coach_follow_up }}';
        follow = follow.replace(/&#39;/g, '\'');
        $('#follow_up').val(follow);
        var committ = '{{ session.student_commitments }}';
        committ = committ.replace(/&#39;/g, '\'');
        $('#commitments').val(committ);
        var note = '{{ session.notes }}';
        note = note.replace(/&#39;/g, '\'');
        $('#notes').val(note);
        {% endcomment %}


        $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal-trigger').leanModal();
         });

    </script>

{% endblock %}