{% extends 'new_base.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col s12 m6 l5" style="margin-left: 5%; margin-right: 3%">
        <div class = "card">
               <div class = "card-content">
                  <span class = "card-title"><h4>{{ student.name }}</h4></span>
                   <p id="info-title"><b>Parents:</b> {% for parent in student.parent_set.all %} {{ parent.name }}{% if forloop.counter == 1 %} & {% endif %}{% endfor %}</p>
                   <p id="info-title"><b>Phone #:</b> {{ student.phone_number }}</p>
                   {% for parent in student.parent_set.all %}
                   <p id="info-title"><b>{{ parent.name }}'s #:</b> {{ parent.phone_number }}</p>
                    {% endfor %}
                   <p id="info-title"><b>Birthday:</b> {{ student.birthday }}</p>
                   <p id="info-title"><b>School Name:</b>   <a href={{ student.school.website_link }}>{{ student.school.name }}</a> &nbsp;&nbsp;&nbsp; <a href={{ student.school.calendar_link }}><i class="fa fa-calendar fa-1x" aria-hidden="true"></i></a></p>
                   <p id="info-title"><b>Grade Tracking:</b> <a href={{ student.grades_link }}>{{ student.grades_link }}</a></p>
                   <p id="info-title"><b>Zoom link:</b> <a href={{ student.zoom_link }}>{{ student.zoom_link }}</a></p>
               </div>

               <div class = "card-action">
                   {% if coach %}
                <a class="waves-effect waves-light btn view blue white-text modal-trigger" href="#email-modal">Email<i class="material-icons right">mail</i></a>
                    {% else %}
               <a class="waves-effect waves-light btn view blue white-text" href="/coach/new_student/{{ student.username }}">Edit</a>

                   {% endif %}
                  <a class = "right blue-grey-text" href = "/student/{{ student.username }}/session">
                     Session Notes</a>
               </div>
            </div>

    </div>


    {% if coach %}

    <div class="col s12 m4 l5" style="margin-left: 3%; margin-right: 5%">
        <div class = "card" style="padding-left:3%">
            <div class = "card-content">
                  <span class = "card-title text-center"><h4>Contact History</h4></span></div>
            {% if no_contacts %}
            <p id="info-title" class="text-center"><b>No contacts logged yet.</b></p>
            {% endif %}
            {% for contact in contacts %}
            <p id="info-title"><b>{{ contact.date }}</b> {{ contact.message }}</p>
            {% endfor %}
            <br>
            <div class = "card-action text-center">
                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#modal1"><i class="material-icons">add</i></a>




    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="center-align">Add a Contact</h4>
                <form method="post" action="/student/{{ student.username }}/profile">
                    {% csrf_token %}
                    <b>Date:</b> <div class="input-field"><input class="input-field inline" type="date" name="contact_date" required></div>
                    <div class="input-field col s12">
                    <input id="contact_message" type="text" class="validate" name="contact_message">
                    <label for="contact_message">Message</label>
                    <a href="#" class="modal-close waves-effect waves-green btn-flat black white-text">Close</a>
                    <button class="btn waves-effect waves-light red right" type="submit" name="action">Add
                        <i class="material-icons right">add</i>
                    </button>

                        <br><br>
                </div>
                </form>

        </div>

  </div>

            {% endif %}

    <div id="email-modal" class="modal">
        <div class="modal-content">
            <h4>Email</h4>
            <ul class="collection">
             <li class="collection-item avatar">
                    <span class="circle red"><i class="small center-align white-text material-icons">person</i></span>
                  <span class="title">{{ student.name }}</span>
                  <p>{{ student.email }}
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">email</i></a>
                </li>
            {% for parent in student.parent_set.all %}
                <li class="collection-item avatar">
                {% if forloop.counter0 == 0 %}
                    <span class="circle green lighten-1"><i class="small center-align white-text material-icons">person</i></span>
                    {% else %}
                    <span class="circle yellow darken-1"><i class="small center-align white-text material-icons">person</i></span>
                    {% endif %}
                  <span class="title">{{ parent.name }}</span>
                  <p>{{ parent.email }}
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">email</i></a>
                </li>
            {% endfor %}
            {% if student.parent_set.first is not student.parent_set.last %}
                <li class="collection-item avatar">
                    <span class="circle blue"><i class="small center-align white-text material-icons">people</i></span>
                  <span class="title">Both Parents</span>
                  <p>{{ student.parent_set.first.email }} <br> {{ student.parent_set.last.email }}
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">email</i></a>
                </li>

                <li class="collection-item avatar">
                    <span class="circle pink lighten-1"><i class="small center-align white-text material-icons">people</i></span>
                  <span class="title">All</span>
                  <p>{{ student.email }}<br>{{ student.parent_set.first.email }} <br> {{ student.parent_set.last.email }}
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">email</i></a>
                </li>

            {% else %}
                 <li class="collection-item avatar">
                    <span class="circle pink lighten-1"></span>
                  <span class="title">All</span>
                  <p>{{ student.email }}<br>{{ student.parent_set.first.email }}
                  </p>
                  <a href="#!" class="secondary-content"><i class="material-icons">email</i></a>
                </li>
            {% endif %}


            </ul>
        </div>
    <div class="modal-footer">
      <a href="#" class="modal-close waves-effect waves-green btn-flat black white-text">Close</a>
    </div>
  </div>

            </div>
            </div>


    </div>
    </div>



    <div style="clear: both"></div>

    <br><br><br><br><br><br>
    {% if coach %}
        <div style="margin-left: 5%">
     <a class="waves-effect waves-light btn view red white-text modal-trigger" href="#delete-student">Delete<i class="material-icons right">delete</i></a>
    </div>
    {% endif %}


    <div id="delete-student" class="modal">
        <div class="modal-content">
            <h4 class="center-align">Delete {{ student.name }}</h4>
                <form method="post" action="/student/delete/{{ student.username }}">
                    {% csrf_token %}
                    <p>Are you sure you want to do this? Deletion is permenant, and all data will be lost. If you wish to hide the student instead, please contact our Head of Product at 225.304.2611.</p>
                    <button class="btn waves-effect waves-light red" type="submit" name="action">Delete
                        <i class="material-icons right">delete</i>
                    </button>
                        <a href="#" class="modal-close waves-effect waves-green btn-flat black white-text right">Close</a>
                        <br><br>

                </form>
            </div>
        </div>


<script>
      $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
</script>

{% endblock %}



{% comment %}


    <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Email</h4>
         <ul class="collection">
            <li class="collection-item avatar">
              <i class="material-icons circle blue"></i>
              <span class="title">{{ student.name }}</span>
              <p>{{ student.email }}<br>
              </p>

            </li>

            {% for parent in student.parent_set.all %}
             <li class="collection-item avatar">
              <i class="material-icons circle blue"></i>
              <span class="title">{{ parent.name }}</span>
              <p>{{ parent.email }}
              </p>

            </li>
             {% endfor %}
  </ul>
    </div>
  </div>


{% endcomment %}