{% extends 'new_base.html' %}

{% block content %}

<div class="row">
    <div class="col s12 m6 l5 left">
        <div class = "card" style="margin-left: 8%">
               <div class = "card-content">
                  <span class = "card-title"><h4>{{ student.name }}</h4></span>
                   <p id="info-title"><b>Parents:</b> {% for parent in student.parent_set.all %} {{ parent.name }} &nbsp;{% endfor %}</p>
                   <p id="info-title"><b>Phone #:</b> {{ student.phone_number }}</p>
                   {% for parent in student.parent_set.all %}
                   <p id="info-title"><b>{{ parent.name }}'s #</b> {{ parent.phone_number }}</p>
                    {% endfor %}
                   <p id="info-title"><b>Birthday:</b> {{ student.birthday }}</p>
                   <p id="info-title"><b>School Name:</b>   <a href={{ student.school.website_link }}>{{ student.school.name }}</a> &nbsp;&nbsp;&nbsp; <a href={{ student.school.calendar_link }}><i class="fa fa-calendar fa-1x" aria-hidden="true"></i></a></p>
                   <p id="info-title"><b>Grade Tracking:</b> <a href={{ student.grades_link }}>{{ student.grades_link }}</a></p>
                   <p id="info-title"><b>Zoom link:</b> <a href={{ student.zoom_link }}>{{ student.zoom_link }}</a></p>
               </div>

               <div class = "card-action">
                    <a class="waves-effect waves-light btn view blue white-text" onclick="$('#modal1').modal('open');">Email<i class="material-icons right">mail</i></a>

                  <a class = "right blue-grey-text" href = "/student/pre_session">
                     Pre-session</a>
               </div>
            </div>

    </div>

    <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Email</h4>
         <ul class="collection">
            <li class="collection-item avatar">
              <i class="material-icons circle blue"></i>
              <span class="title">{{ student.name }}</span>
              <p>{{ student.email }}<br>
              </p>

            </li>

            {% for parent in student.parent_set.all %}
             <li class="collection-item avatar">
              <i class="material-icons circle blue"></i>
              <span class="title">{{ parent.name }}</span>
              <p>{{ parent.email }}
              </p>

            </li>
             {% endfor %}
  </ul>
    </div>
  </div>


    <div class="col s12 m6 l6 right">
        <div class = "card right" style="margin-right: 8%; padding-left:3%">
            <div class = "card-content">
                  <span class = "card-title text-center"><h4>Contact History</h4></span></div>
            {% for contact in contacts %}
            <p id="info-title"><b>{{ contact.date }}</b> {{ contact.message }}</p>
            {% endfor %}
            <br>
            <div class = "card-action text-center">
                  <button class = "btn-floating btn-large waves-effect waves-light red lighten-1">
                     <i class = "material-icons">add</i></button>
            </div>
            </div>
    </div>
    </div>

    <div style="clear: both"></div>
<script>
  $(document).ready(function() {
    $('#modal1').modal();
});
</script>

{% endblock %}
