{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Schedule</title>
</head>
<body>

<div class="row" style="margin-top: 7%; width:90%">
<table class="striped">
        <thead>
          <tr>
              <th>Subject</th>
              <th>Teacher</th>
              <th>Notes About Class</th>
              <th>Late Work Policy</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>American History</td>
            <td>Mr. Jones</td>
            <td>Loves this class but tends to have missing work. Sits in the back..maybe move to the front row?</td>
            <td></td>
          </tr>
          <tr>
            <td>Chemistry </td>
            <td>Ms. Nguyen</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>English 10 </td>
            <td>Mr. Smith</td>
            <td></td>
            <td></td>
          </tr>
            <tr>
            <td>French I</td>
            <td>Mrs. Duboi</td>
            <td></td>
            <td></td>
          </tr>
        <tr>
            <td>Hope </td>
            <td>Coach Latter</td>
            <td></td>
            <td></td>
          </tr>
        <tr>
            <td>Calc </td>
            <td>Dr. Jones</td>
            <td></td>
            <td></td>
          </tr>
        <tr>
            <td>Dram II </td>
            <td>Ms. Chase</td>
            <td></td>
            <td></td>
          </tr>
        <tr>
            <td>Intensive Reading </td>
            <td>Ms. Fink</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>
</body>
</html>

{% endblock %}