{% extends 'new_base.html' %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>Class Schedule</title>
</head>
        <div class="row">
<div class="col s2" align="center">
    <a class="waves-effect waves-light btn view red white-text modal-trigger" href="#class-modal"  style="margin-top: 5%;">Add Class<i class="material-icons right">add</i></a>
</div>
<div class="col s8" align="center"><h5>Schedule</h5></div>

<div class="col s2" align="center">
                <a class="waves-effect waves-light btn view black white-text" href="/coach/download_schedule/{{ student.username }}" style="margin-top: 5%;">Download</a>
</div>
        </div>
<div class="row" style="margin-top: 1%; width:90%">
{% if has_classes %}
<table class="striped" style="border: 2px solid black;">
        <thead>
          <tr>
              <th>Subject</th>
              <th>Teacher</th>
              <th>Notes About Class</th>
              <th>Late Work Policy</th>
              <th>Edit</th>
          </tr>
        </thead>

        <tbody>
        {% for class in classes %}
          <tr>
            <td>{{ class.name }}</td>
            <td>{{ class.teacher }}</td>
            <td>{{ class.notes }}</td>
            <td>{{ class.late_work_policy }}</td>
            <td>
                <a class="btn-floating btn-large waves-effect waves-light black modal-trigger" href="#{{ class.id }}-edit-modal"><i class="material-icons">edit</i></a>
            </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>

{% else %}
    <h5 align="center">Please add your classes</h5>
{% endif %}




<div id="class-modal" class="modal">
        <div class="modal-content">
            <h4 class="center-align">Add a Class</h4>
                <form method="post" action="/student/{{ student.username }}/schedule">
                    {% csrf_token %}
                    <div class="input-field col s12">
                    <input id="class_name" type="text" class="validate" name="class_name">
                    <label for="class_name">Subject</label>
                    </div><div class="input-field col s12">
                    <input id="class_teacher" type="text" class="validate" name="class_teacher">
                    <label for="class_teacher">Teacher</label>
                    </div><div class="input-field col s12">
                    <input id="class_notes" type="text" class="validate" name="class_notes">
                    <label for="class_notes">Notes About Class</label>
                    </div><div class="input-field col s12">
                    <input id="class_policy" type="text" class="validate" name="class_policy">
                    <label for="class_policy">Late Work Policy for Class</label>
                </div>
                    <a href="#" class="modal-close waves-effect waves-green btn-flat black white-text">Close</a>
                    <button class="btn waves-effect waves-light red right" type="submit" name="action">Add
                        <i class="material-icons right">add</i>
                    </button>
                </form>

        </div>


</div>

{% for class in student.class_set.all %}
<div id="{{ class.id }}-edit-modal" class="modal">
        <div class="modal-content">
            <h4 class="center-align">Edit {{ class.name }}</h4>
                <form method="post" action="/student/{{ student.username }}/edit-class/{{ class.id }}">
                    {% csrf_token %}
                    <div class="input-field col s12">
                    <input id="disabled" type="text" class="validate" name="class_name" value="{{ class.name }}">
                    <label for="class_name">Subject</label>
                    </div><div class="input-field col s12">
                    <input id="class_teacher" type="text" class="validate" name="new_teacher" value="{{ class.teacher }}">
                    <label for="class_teacher">Teacher</label>
                    </div><div class="input-field col s12">
                    <input id="class_notes" type="text" class="validate" name="new_notes" value="{{ class.notes }}">
                    <label for="class_notes">Notes About Class</label>
                    </div><div class="input-field col s12">
                    <input id="class_policy" type="text" class="validate" name="new_policy" value="{{ class.late_work_policy }}">
                    <label for="class_policy">Late Work Policy for Class</label>
                </div>
                    <a href="#" class="modal-close waves-effect waves-green btn-flat black white-text">Close</a>
                    <button class="btn waves-effect waves-light red right" type="submit" name="action">Change
                        <i class="material-icons right">edit</i>
                    </button>
                </form>

        </div>


</div>
{% endfor %}


</div>

    <script>
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
    </script>


{% endblock %}