{% extends 'new_base.html' %}

{% block content %}

<style>
.modal.bottom-sheet{
    max-height: 35%;
}
</style>




<head>
    <title>Track Grades</title>
</head>

<table class="responsive-table striped" style="width: 90%; margin: 2% 5% 5% 5%">
    <tr>
        <th>Subject</th>
        {% for date in dates %}
            <th>{{ date }}</th>
        {% endfor %}
    </tr>

    {% for subject in subjects %}
        <tr>
        <td>{{ subject.name }}</td>

        {% for entry in subject.get_all_scores %}
            <td>{{ entry }}</td>
        {% endfor %}
        </tr>
    {% endfor %}

</table>




    {% if coach %}
    <div class="col s12 m12 l4 xl4 offset-l4 center-align">
        <a class="waves-effect waves-light btn view green white-text modal-trigger" href="#grade-modal"  style="margin-top: 5%;">Input Grades<i class="material-icons right">add</i></a>
    </div>
    {% endif %}



    <div id="grade-modal" class="modal bottom-sheet">
        <div class="modal-content">
                <form method="post" action="/student/{{ student.username }}/track_grades" id="input-grades" style="margin-bottom:0">
                    {% csrf_token %}
                    <div class="row" align="left">
                    <div class="col s2" align="center">
                        <b>Date:</b><input class="input-field" type="date" name="entry_date" required></div>

                             <div class="col s2">
                            <label>Select a Session</label>
                               <select class="browser-default" form="input-grades" id="session_number" name="session_number" required>
                                  <option value = "" disabled selected>Select Session</option>
                                   {% for session in sessions %}
                                   <option value = "{{ forloop.counter0 }}">Session {{ forloop.counter }}: {{ session.date }}</option>
                                   {% endfor %}
                               </select>
                             </div>

                    {% for class in student.class_set.all %}
                        <div class="col s2">
                            <div class="input-field">
                                <input id="{{ class.name }}_score" type="number" class="validate" name="{{ class.name }}_score" required>
                                <label for="{{ class.name }}_score">{{ class.name }} Grade</label>
                             </div>

                    </div>
                    {% endfor %}

                    </div>
                    <a href="#" class="modal-close waves-effect waves-green btn-flat black white-text" style="margin-bottom:0">Close</a>
                    <button class="btn waves-effect waves-light green lighten-2 right" type="submit" name="action" style="margin-bottom:0">Input Grades
                        <i class="material-icons right">add</i>
                    </button>
                </form>
        </div>
    </div>

<script>
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
    $(document).ready(function() {
            $('select').material_select();
         });
    </script>

{% endblock %}
