{% extends 'new_base.html' %}
{% block content %}
<head>
    <title>Track Habits</title>
</head>

    <style>
    body{
        background-color: white;
    }
    .habit-row {
        margin-top: 3%;
        margin-left: 8%;
        margin-right: 8%;
        background-color: white;
    }
    </style>

    {% for habit in student.habit_set.all %}
    <div class="row valign-wrapper habit-row">

    <div class="col s12 m4 l6 xl4">
        <div class="card">

        <div class="card-content grey-text text-darken-4 activator">
            <h4 class="activator">{{ habit.title }}</h4>
        </div>
        <div class="card-action activator">
            {% if habit.habitscore_set.last is None %}
            No scores to report
            <a class="modal-trigger right black-text" href="#view-habit-{{ habit.id }}"><b>Expand</b></a>
            {% else %}
            Most Recent Score: <b>{{ habit.habitscore_set.last.score }}</b> on {{ habit.habitscore_set.last.date }}
            {% endif %}
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{ habit.title }}<i class="material-icons right">close</i></span>
            <b class="center-align">{{ habit.rubric_question }}</b>
            <p class="center-align">{{ habit.rubric_answer }}</p>

        </div>
        </div>
        </div>



    <div class="col s12 m4 l6 xl6">
    <form action="/student/{{ student.username }}/track_habits/{{ habit.id }}" method="post">
                {% csrf_token %}

                <p class="range-field" style="width: 100%">
                 <input type="range" id="score" min="0" max="10" step="1" value="0" name="score" />
                </p>


            <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
            </button>
    </form>

    </div>

    </div>

    <div class="modal" id="view-habit-{{ habit.id }}">
        <div class="modal-content">
            <h4 class="center-align">{{ habit.title }}</h4><br>
            <b class="center-align">{{ habit.rubric_question }}</b>
            <p class="center-align">{{ habit.rubric_answer }}</p>
        </div>
    </div>



    {% endfor %}

    <div class="col s12 m12 l4 xl4 offset-l4 center-align">
        <a class="waves-effect waves-light btn view red white-text modal-trigger" href="#new-habit"  style="margin-top: 5%;">New Habit<i class="material-icons right">add</i></a>
    </div>

    <div id="new-habit" class="modal">
        <div class="modal-content">
            <h4 class="center-align">New Habit</h4>
                <form method="post" action="/student/{{ student.username }}/track_habits">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col s12">
                            <div class="input-field">
                                <input id="habit_title" type="text" class="validate" name="habit_title">
                                <label for="habit_title">Habit Title</label>
                             </div>
                            <div class="input-field">
                                <input id="rubric_question" type="text" class="validate" name="rubric_question">
                                <label for="rubric_question">Rubric Question</label>
                             </div>
                            <div class="input-field">
                                <input id="rubric_answer" type="text" class="validate" name="rubric_answer">
                                <label for="rubric_answer">Rubric Answer</label>
                             </div>
                         </div>


                    </div>
                    <button class="btn waves-effect waves-light red" type="submit" name="action">Submit
                        <i class="material-icons right">add</i>
                    </button>
                    <a href="#" class="modal-close waves-effect waves-green btn-flat black white-text right">Close</a>
                </form>
        </div>
    </div>



    <script>
    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });

    $(document).ready(function(){
    $('select').formSelect();
  });
    </script>

{% endblock %}