{% extends "new_base.html" %}
{% block content %}

<style>
 body{
        background: whitesmoke;
    }

    button{
        background-color:	#D3D3D3;
}
    button:hover {
        background-color:slategrey;
}
    #login-button{
            background-color: green;
            color: white;
    }
    #register-button{
            background-color: black;
            color: white;
    }

</style>




    <div class="row">
    <br><br>
    <div class="col s12 m6 l4 white offset-l4" style="border: 2px solid black">

    <h1 align="center" style="color: #99ddff">Vana Login</h1>

    <form method="post" action="/login">
        {% csrf_token %}
        <h4 class="black-text">Username:</h4><br/>
        {{ form.username }}<br/><br/>
        <h4 class="black-text">Password:</h4><br/>
        {{ form.password }}<br/><br/>
        <button id="login-button" type="submit" class="pull-left btn">Login</button>
        <button id="register-button" onclick="window.location.href='https://www.vana-learning.com'" class="pull-right btn">Back</button>
    </form>
        <br><br>
</div>
            <a class="btn btn-large waves-effect waves-light blue modal-trigger right" href="#password-modal"><i class="material-icons">Forgot Password</i></a>
    </div>



    <div id="password-modal" class="modal">
        <div class="modal-content">
            <h4 class="center-align">Forgot Password</h4>
            <h6 class="center-align">Enter your username below and we will send instructions to reset your password to the email registered to your account.</h6>
                <form method="post" action="/student/forgot-password-helper">
                    {% csrf_token %}
                    <input id="username" type="text" class="validate" name="username">
                    <label for="username">Username</label>
                    <button class="btn waves-effect waves-light red right" type="submit" name="action">Submit
                    </button>
                        <br><br>

                </form>

        </div>

  </div>


    <script>
     $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });
    </script>

{% endblock %}

