<html>
   <head>
       {% load static %}
        <link rel="icon" href="{% static "favicon.png" %}">

       <title>Vana Learning</title>
        <meta name = "viewport" content = "width = device-width, initial-scale = 1">
        <link rel = "stylesheet"
         href = "https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>

           <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

   </head>

   <style>
       nav {
            background-color:white ;
       }




   </style>

<body>
<header>

<nav>


        <a href="https://www.vana-learning.com" class="brand-logo left"><img class="responsive-img" style="height: 64px" id="logo" src={% static "vanalogo.png" %}/></a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% if coach and student is not None%}
        <li><a href="/coach/home" class="black-text">Home</a></li>
        <li><a href="/student/{{ student.username }}/profile" class="black-text">Profile</a></li>
        <li><a href="/student/{{ student.username }}/schedule" class="black-text">Schedule
        {% if no_classes %}<span class="badge red white-text circle" data-badge-caption="">!</span> {% endif %}
        </a></li>
        <li><a href="/student/{{ student.username }}/session" class="black-text">Session</a></li>
        <li><a href="/student/{{ student.username }}/track_grades" class="black-text">Track Grades</a></li>
        <li><a href="/student/{{ student.username }}/track_habits" class="black-text">Track Habits</a></li>
        <li><a href="/student/{{ student.username }}/visualize" class="black-text">Visualize</a></li>
        <li><a href="/coach/home" class="black-text">Current Student: {{ student.name }}</a></li>

        {% elif coach  %}
        <li><a href="/coach/home" class="black-text">Home</a></li>
        <li><a href="/coach/home" class="black-text">Current Student: None</a></li>
        <li><a href="/coach/add_student" class="black-text">Add Student<i class="material-icons right" style="padding-top:16%;">add</i></a></li>

        {% else %}
        <li><a href="/student/{{ user.username }}/profile" class="black-text">Profile</a></li>
        <li><a href="/student/{{ user.username }}/schedule" class="black-text">Schedule
        {% if no_classes %}<span class="badge red white-text circle" data-badge-caption="">!</span> {% endif %}
        </a></li>
        <li><a href="/student/{{ user.username }}/session" class="black-text">Session</a></li>
            <li><a href="/student/{{ user.username }}/visualize" class="black-text">Visualize</a></li>
        {% endif %}

        {% if request.user.is_active %}
        <li><a href="/logout" class="black-text">Logout</a></li>
        {% else %}
        <li><a href="/login" class="black-text">Login</a></li>
        {% endif %}

    </ul>


  </nav>
</header>




{% block content %}
{% endblock %}


</body>

</html>