{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reports</title>
</head>
<body>
<div id="page-title">Reports</div>
<table>
    <tr>
    <th>
        Metric
    </th>
    <th>
        Teacher
    </th>
    <th>
        Score
    </th>
    </tr>
    {% for metric in reports %}
        {% for report in metric %}
    <tr>
       <td>{{ report.metric.name }}</td>
        <td>{{ report.teacher.name }}</td>
        <td>{% if report.NA %} N/A {% elif report.score == 0 %} No {% elif report.score == 1 %} Yes {% endif %}</td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
</body>
</html>
{% endblock %}